body {
    background: linear-gradient(90deg, rgba(111, 104, 219, 1) 0%, rgba(9, 98, 121, 1) 30%, rgba(0, 212, 255, 1) 100%);
    color: antiquewhite;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
    margin-top: 4%;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40%;
}

.moves {
    margin-top: 3%;
}

.options {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 5%;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 55%;

}

img:hover {
    background-color: #0157B4;
    box-shadow: 0px 15px 20px #01113bf3;
    color: #fff;
    transform: translateY(-7px);
}

.res {
    text-align: center;
    margin-top: 1%;
}

.hidden {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

.hidden button {
    height: 60px;
    width: 100px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border-radius: 14%;
}   

.hidden h1 {
    margin-bottom: 3%;
    }

.hidden button:hover {
    background-color: #0157B4;
    box-shadow: 0px 15px 20px #01113bf3;
    color: #fff;
    transform: translateY(-5px);
}
.hidden button span{
    color:black;
}
@media (max-width:830px) {
    .options img {
        height: 85px;
        width: 85px;
    }
    .hidden{
        margin-top: 3%;
    }
    }
